.__proj-desc{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1 0 0%;
}

.__proj-desc > * {
    display: inline-block;
}

.__proj-desc > a{
    color: var(--primary-color-bg);
    width: fit-content;
}

.__proj-desc > :nth-child(1) {
    font-weight: var(--code-weight);
    font-size: var(--size-lg);
    color: var(--bracket-highlight);
}

.__proj-desc > :nth-child(2) {
    color: var(--return-red);
}

.__proj-desc > :nth-child(3) {
    color: #777;
}

.__cmp-proj{
    display: flex;
    justify-content: space-between;
}